<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>THYMELEAF</h1>
<p>Pozdrowienia hello world</p>
<p th:text="${name}"></p>


<table>
    <tr>
        <th>Marka</th>
        <th>Model</th>
    </tr>
    <tr th:each="c:${cars}">
        <td th:text="${c.getMark()}"></td>
        <td th:text="${c.getModel()}"></td>
    </tr>
</table>

<!--<tr th:each="c:${cars}">-->

<!--    <td th:text="${c.getMark()}"/>-->
<!--    <td th:text="${c.getModel()}"/>-->

<!--</tr>-->

</body>
</html>